* {
	padding: 0;
	margin: 0;
}

#cvs {
	position: fixed;
	left: 0;
	top: 0;
	background-color: #222;
	width: 100%;
	height: 100vh;
	z-index: -1;
}

#container {
	width: 1200px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.box {
	width: 250px;
	height: 250px;
	position: relative;
	border-radius: 10px;
	background-color: #fff;
	padding: 10px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

.box:hover {
	box-shadow: 0 0 10px #00bfff, 0 0 20px #00bfff;
}

/* 文字渐变 */
.text {
	width: 300px;
	height: 80px;
	background-image: linear-gradient(to right, navy, purple, pink);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	letter-spacing: 20px;
	line-height: 80px;
	color: transparent;
	/* 强调重要!important */
	-webkit-background-clip: text !important;
}

/* 三维度小球 */
.boll {
	width: 80px;
	height: 80px;
	background-image: radial-gradient(at 30px 30px, white, tomato);
	border-radius: 50%;
}

#book span:first-child::before {
	content: "《";
}

#book span:first-child::after {
	content: "》";
}

#book span:last-child::before {
	content: "￥";
}

/* 三维旋转 */
.toushi {
	position: relative;
	background: url('https://pic2.zhimg.com/50/v2-a0f52802b8607fec052d8232d075171c_hd.jpg');
	background-size: cover;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.toushi::after,
.toushi::before {
	content: '';
	position: absolute;
	inset: 0;
}

.toushi::before {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: inherit;
}

.toushi::after {
	background: inherit;
	transition: 0.5s;
	clip-path: circle(0 at 50% 50%);
}

.toushi:hover::after {
	clip-path: circle(50% at 50% 50%);
}

/* 翻转效果 */
.fz {
	position: relative;
	width: 150px;
	height: 150px;
}

.fz p {
	transform: rotateY(-180deg);
	text-align: center;
	line-height: 150px;
}

.fz img {
	width: inherit;
	height: inherit;
}

.fz img,
.fz p {
	position: absolute;
	transition: all 0.6s linear;
	backface-visibility: hidden;
}

.fz:hover img {
	transform: rotateY(-180deg);
}

.fz:hover p {
	transform: rotateY(0deg);
}

/* 九宫格 */
.img-container{
	display: grid;
	grid-template-columns: repeat(3,40px);
	grid-template-rows: repeat(3,40px);
}
.img-item {
	transition: 0.5s;
	background-image: url('https://pic2.zhimg.com/50/v2-a0f52802b8607fec052d8232d075171c_hd.jpg');
	background-size: 120px 120px;
	box-shadow: 0 0 0 1px #999;
	position: relative;
}
.img-item:nth-child(3n+1) {
	background-position-x: 0;
	left: -10px;
}
.img-item:nth-child(3n+2){
	background-position-x: -100%;
}
.img-item:nth-child(3n){
	background-position-x: -200%;
	left: 10px;
}
.img-item:nth-child(n + 7){
	background-position-y: -200%;
	top: 10px;
}
.img-item:nth-child(-n + 6){
	background-position-y: -100%;
}
.img-item:nth-child(-n + 3){
	background-position-y: 0%;
	top: -10px;
}
.img-container:hover .img-item{
	left: 0;
	top: 0;
	box-shadow: 0 0 0 0;
}
